<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <main class="wrap">
    <h1><%= title %></h1>
    <% if (step == 1) { %>
      <form action="/quiz" method="POST">
        <h2>Question 1: How would your friends describe you?</h2>
        <input type="radio" name="describe" value="warm" required /> Warm and Friendly<br />
        <input type="radio" name="describe" value="cold" /> Cold and Calculating<br />
        <button type="submit">Next</button>
      </form>
    <% } else if (step == 2) { %>
      <form action="/quiz" method="POST"> 
        <h2>Question 2: Which would you rather eat?</h2>
        <input type="radio" name="food" value="sandwich" required /> A Sandwich<br />
        <input type="radio" name="food" value="pizza" /> A Pizza<br />
        <input type="hidden" name="describe" value="<%= state.describe %>" />
        <button type="submit">Next</button>
      </form>
    <% }
    else if (step == 3) { %>
      <form action="/quiz" method="POST"> 
        <h2>Question 3: Are you a child?</h2>
        <input type="radio" name="child" value="yes" required /> Yes<br />
        <input type="radio" name="child" value="no" /> No<br />
        <input type="hidden" name="describe" value="<%= state.describe %>" />
        <input type="hidden" name="food" value="<%= state.food %>" />
        <button type="submit">Reveal your cookie!</button>
      </form>
    <% }
    
    %>
    <% if (step === 4) { %>
      <h2>Outcome</h2>

      <div class="card">
        <h3><%= outcome.heading %></h3>
        <p><%= outcome.text %></p>

        <form action="/" method="get">
          <button type="submit">Play Again</button>
        </form>
      </div>

      
    <% } %>
  </main>
</body>
</html>
